@import url("https://fonts.cdnfonts.com/css/glacial-indifference-2");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background: #ffa62b;
  height: 60px;
  padding: 10px;
}
nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0 80px 0 20px;
}
nav h1 {
  font-family: "League Spartan", sans-serif;
  font-size: 31.7px;
}
nav .navbar {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
nav .navbar a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 40px;
  background: #ffa62b;
  border-radius: 20px;
  color: black;
  text-decoration: none;
  font-family: "Glacial Indifference", sans-serif;
  font-size: 18px;
  font-weight: 600;
  transition: ease-in 0.2s;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  -webkit-transition: ease-in 0.2s;
  -moz-transition: ease-in 0.2s;
  -ms-transition: ease-in 0.2s;
  -o-transition: ease-in 0.2s;
}
nav .navbar a:hover {
  background: white;
  color: #ffa62b;
  box-shadow: 3px 4px rgb(0, 0, 0);
}
.container {
  width: 100%;
  height: 100vh;
  background: #ffa62b;
  animation: popup_first 2s;
  -webkit-animation: popup_first 1s;
}
.container img {
  width: 100%;
  height: 60%;
  animation-name: popup_down;
  animation-duration: 1s;
}
.container .table {
  height: 350px;
  width: 88.6%;
  transform: translateY(-120px) translateX(6.5%);
  display: flex;
  font-family: "League Spartan", sans-serif;
  font-weight: 600;
  background: white;
  -webkit-transform: translateY(-120px) translateX(6.5%);
  -moz-transform: translateY(-120px) translateX(6.5%);
  -ms-transform: translateY(-120px) translateX(6.5%);
  -o-transform: translateY(-120px) translateX(6.5%);
  overflow-y: scroll;
  animation-name: popup;
  animation-duration: 1s;
}
.container table {
  background: black;
}
.container th {
  background: rgb(26, 25, 25);
  color: white;
  font-size: 1.2em;
}
.container td {
  background: white;
}
.container th,
td {
  padding: 20px 50px 20px 50px;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: none;
}

@keyframes popup {
  from {
    opacity: 0;
    transform: translateY(300px) translateX(6.5%);
    -webkit-transform: translateY(300px) translateX(6.5%);
    -moz-transform: translateY(300px) translateX(6.5%);
    -ms-transform: translateY(300px) translateX(6.5%);
    -o-transform: translateY(300px) translateX(6.5%);
}
  to {
    opacity: 1;
    transform: translateY(-120px) translateX(6.5%);
    -webkit-transform: translateY(-120px) translateX(6.5%);
    -moz-transform: translateY(-120px) translateX(6.5%);
    -ms-transform: translateY(-120px) translateX(6.5%);
    -o-transform: translateY(-120px) translateX(6.5%);
}
}
@keyframes popup_first {
    from {
      opacity: 0;
      transform: translateY(300px);
      -webkit-transform: translateY(300px);
      -moz-transform: translateY(300px);
      -ms-transform: translateY(300px);
      -o-transform: translateY(300px);
}
    to {
      opacity: 1;
      transform: translateY(0);
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
}
  }
@keyframes popup_down {
    from {
      opacity: 0;
      transform: translateY(-100px);
      -webkit-transform: translateY(-100px);
      -moz-transform: translateY(-100px);
      -ms-transform: translateY(-100px);
      -o-transform: translateY(-100px);
}
    to {
      opacity: 1;
      transform: translateY(0);
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
}
  }
